@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 10px;
	height: 5px;
	border-radius: 12px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.h-100 {
	min-height: 100vh;
}

.header,
.footer {
	background-color: #1a3365;
	padding: 10px;
}

.nav.nav-pills {
	margin: 10px;
	padding: 10px;
}
.nav.nav-pills .nav-link {
	color: #555;
}

.nav.nav-pills .nav-link.active {
	background-color: #1a3365;
	border-radius: 20px;
	transition: 0.3s ease;
	color: #fff;
}

.center-content {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form {
	width: 50%;
}

.form-input {
	border: 1px solid #1a3365;
	border-radius: 5px;
}

.btn.btn-primary {
	background-color: #1a3365;
}

.items-list {
	padding: 10px;
	width: 50%;
}

.item {
	border: 1px solid #1a3365;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.item-name {
	font-size: 1.2rem;
	margin-left: 10px;
}

.item-icons {
	float: right;
	padding: 5px;
	cursor: pointer;
}

.tick-icon:hover {
	color: rgb(12, 221, 12);
}

.delete-icon:hover {
	color: red;
}

@media screen and (max-width: 500px) {
	.items-list,
	.form {
		width: 100%;
	}
	.button-container {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
